<div class="organization-container">
  <div class="left-section">
    <h2>
      Organisation Management
      (<span class="organization-name">{{organisationName}}</span>)
    </h2>
    <button class="action-button" (click)="take_attendance()">Take Attendance</button>
    <button class="action-button" (click)="add_User()">Add New User</button>
  </div>
  <div class="right-section">
    <ng-container *ngIf="attendanceData.length > 0; else noDataTemplate">
      <div class="position">
        <button class="btn_class" (click)="downloadExcel()">Download Excel</button>
      </div>
      <table class="attendance-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Rolls</th>
            <th>Times</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attendance of attendanceData">
            <td>{{attendance.name}}</td>
            <td>{{attendance.rolls}}</td>
            <td>{{attendance.times}}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noDataTemplate>
      <div class="no-data-message">
        <img src="assets/No-data.jpg" alt="">
        <p>No data available</p>
        <p>Please take attendance to get data</p>
      </div>
    </ng-template>
  </div>
</div>
