.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 20px;

  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 78%;
      height: auto;
      border-radius: 10px;
    }
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .form-container {
    flex: 1;
    max-width: 400px;
    padding: 30px;
    background: #f7f8fc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .form-group {
      margin-bottom: 20px;

      .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;

        &.is-invalid {
          border-color: #e3342f;
        }
      }

      .invalid-feedback {
        color: #e3342f;
        font-size: 12px;
        margin-top: 5px;
      }
    }

    .btn {
      margin-left: 45px;
      width: 80%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }

    .password-main {
      position: relative;

      .password-eye {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }

    /* Style for the 'Don't have an account?' text */
    .register-container {
      text-align: center;
      margin-top: 10px; /* Add some space above */
      font-size: 14px;
      color: #555;

      a {
        color: blue;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: #0047ab;
        }
      }
    }
  }
}
